.br-container {
  padding-left: 0px;
}

.page {
  background-color: #141312;
  min-height: 100vh;
  background-image: url(../../img/bricks.jpg);
  background-size: cover;
  background-position: center;
}

.cloud {
  display: flex;
  background-color: #1f1d1c;
}

.main-placeholder {
  position: relative;
  min-width: calc(100% - 28px);
  min-height: 100vh;
  display: block;
  margin-left: 56px;
  padding-top: 3px;
}

.nav-placeholder {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.nav-placeholder::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.nav-placeholder::-webkit-scrollbar-corner {
  background-color: #2b2b2b;
}

.nav-placeholder::-webkit-scrollbar-track {
  background: #2b2b2b;
}

.nav-placeholder::-webkit-scrollbar-thumb {
  background-color: #75736f;
  border-radius: 20px;
  border: 3px solid black;
}

.nav-block {
  margin: 12px;
}

.nav-button {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: none;
  color: #baae9b;
  font-size: 32px;
  height: 48px;
  width: 48px;
  transition: background-color 0.2s ease-in-out;
}

.nav-button:hover {
  background-color: #bdb3a278;
}

.dir-text {
  color: #baae9b;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  margin: 0px;
}

.dirs-placeholder {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}
