.br-container {
  padding-left: 0px;
}

.page {
  background-color: #141312;
  min-height: 100vh;
  background-image: url(../../img/bricks.jpg);
  background-size: cover;
  background-position: center;
}

.cloud {
  display: flex;
  background-color: #1f1d1c;
}

.main-placeholder {
  position: relative;
  min-width: calc(100% - 28px);
  min-height: 100vh;
  display: block;
  margin-left: 56px;
  padding-top: 3px;
}

.dir-text {
  color: #baae9b;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  margin: 0px;
}

.dirs-placeholder {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.user-button {
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #f5870a;
  background-color: black;
  border-radius: 3px;
  border-color: #ff6c03;
  border-width: 2px;
  border-style: double;
  transition: all 0.2s ease-in;
  text-align: center;
  position: relative;
}

.user-button:hover {
  color: black;
  background-color: #f5870a;
  position: relative;
}
