.left-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 20px;
  background-color: #141312;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  max-width: 300px;
  border: ridge 3px #141312;
  z-index: 4;
}

.up-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.main-user-photo {
  background-image: url(../../img/No_user.jpg);
  background-size: cover;
  width: 94.99px;
  height: 94.99px;
  border-width: 4px;
  border-radius: 5px;
  border-style: solid;
  border-color: #ff6c03;
  margin-bottom: 4px;
}

.username-text {
  font-family: Roboto, sans-serif;
  color: #f78502;
  font-weight: 300;
  font-size: 22px;
}

.search-block {
  display: flex;
  flex-direction: column;
}

.search-row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.search-string {
  box-sizing: border-box;
  width: 230px;
  background-color: #080707;
  border-color: #ff6c03;
  border-style: solid;
  color: #f7c202;
}

.search-string::placeholder {
  color: #f78502;
}

.sort-placeholder {
  display: flex;
  flex-direction: column;
  max-width: 246px;
}

.sort-caption {
  font-family: Roboto, sans-serif;
  color: #f5870a;
  margin-bottom: 5px;
}

.sort-selector {
  color: #f5870a;
  background-color: #1c1c1b;
  border-color: black;
  margin-bottom: 5px;
}

.checkbox-placeholder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.check-text {
  font-family: Roboto, sans-serif;
  color: #f5870a;
  font-size: 15px;
}

.sort-button {
  width: 13vw;
  max-width: 200px;
  margin-bottom: 10px;
}

.add-block {
  display: flex;
  align-items: center;
}

.add-button {
  text-decoration: none;
  font-size: 21px;
  color: #f5870a;
  background-color: black;
  border-radius: 14px;
  border-color: #ff6c03;
  border-width: 2px;
  border-style: double;
  transition: all 0.2s ease-in;
  padding-left: 6px;
  padding-right: 6px;
}

.add-button:hover {
  color: black;
  background-color: #f5870a;
}

.add-text {
  font-family: Roboto, sans-serif;
  color: #ff6c03;
  font-size: 18px;
  margin-left: 5px;
}

.input__placeholder {
  position: relative;
  margin: 15px 0;
  text-align: center;
  width: 150px;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.submit-file-button {
  margin-left: 10px;
  background: none;
  border-style: solid;
  border-color: #ff6c03;
  border-width: 2px;
  color: #ff6c03;
  border-radius: 4px;
  font-size: 12px;
}

.submit-file-button:hover {
  color: #f1bc10;
  border-color: #f1bc10;
}

@media screen and (max-width: 1000px) {
  .sort-placeholder {
    width: auto;
  }

  .sort-button {
    width: auto;
  }
}

@media screen and (max-width: 680px) {
  .sort-placeholder {
    width: auto;
  }

  .sort-button {
    width: auto;
  }
}
