.file-card {
  width: 170px;
  height: 190px;
  border-style: double;
  border-color: #ccbca3;
  border-width: 3px;
  border-radius: 10px;
  background-color: #211e1a;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}

.file-card-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.file-card-prevision {
  height: 140px;
  width: 130px;
  margin: 0px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.file-card-icon {
  margin: 15%;
  height: 70%;
  width: 70%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.file-card-title {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  width: 130px;
  color: #c9b7a5;
  text-align: center;
  white-space: nowrap;
  overflow: auto;
}

.file-card-functions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.file-card-user-list {
  border-color: none;
}

.file-card-user-list-el,
.file-card-menu-list {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.file-card-menu-list {
  display: none;
  position: absolute;
}

.file-card-menu {
  display: block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: #c7c4bf;
}

.file-card-menu:hover {
  color: #f0ece6;
}

.file-card-menu:hover > ul {
  display: inherit;
}

.file-card-menu-el-place {
  display: block;
  float: none;
  display: list-item;
  position: relative;
  text-align: center;
  margin-left: auto;
}

.file-card-menu-el {
  display: block;
  color: #c7c4bf;
  background: #000000;
  border-color: none;
  border-style: hidden;
  border-radius: 9px;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  padding: 3px;
  min-width: 124px;
  margin-top: 2px;
}

.file-card-menu-el:hover {
  background: #363330;
  color: #e8bb17;
}

.download-button {
  text-decoration: none;
  display: block;
  font-size: 19px;
  font-weight: 1900;
  color: #baac97;
  background-color: rgba(0, 0, 0, 0);
  border-color: #baac97;
  border-width: 2px;
  border-style: solid;
  border-top-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in;
  transition: border-radius 0.3s ease;
  text-align: center;
  padding-top: 0px;
}

.download-button:hover {
  color: #ff9a03;
  border-color: #ff9a03;
  border-top-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
}

.opendir-button {
  text-decoration: none;
  display: block;
  font-size: 22px;
  font-weight: 1900;
  color: #baac97;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.15s ease-in;
  text-align: center;
  padding-top: 0px;
}

.opendir-button:hover {
  color: #ff9a03;
}

.file-card-title::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.file-card-title::-webkit-scrollbar-corner {
  background-color: #2b2b2b;
}

.file-card-title::-webkit-scrollbar-track {
  background: #2b2b2b;
}

.file-card-title::-webkit-scrollbar-thumb {
  background-color: #75736f;
  border-radius: 20px;
  border: 3px solid black;
}

audio {
  width: 130px;
  background-color: rgba(0, 0, 0, 0);
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

audio::-webkit-media-controls-panel {
  background-color: #ccbca3;
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

audio::-webkit-media-controls-timeline {
  width: 45px;
}

audio::-webkit-media-controls-current-time-display {
  display: none !important;
}

audio::-webkit-media-controls-time-remaining-display {
  display: none !important;
}
