.left-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 10px;
  background-color: #141312;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: ridge 3px #141312;
}

.small-menu-block {
  margin-top: 7px;
}

.small-menu-button {
  width: 30px;
}
