altgraph==0.17.2
aniso8601==9.0.1
blessings==1.7
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
curtsies==0.3.10
cwcwidth==0.1.6
et-xmlfile==1.1.0
Flask==2.0.3
Flask-Login==0.5.0
Flask-RESTful==0.3.9
Flask-Uploads==0.2.1
Flask-WTF==1.0.0
future==0.18.2
greenlet==1.1.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.21.4
openpyxl==3.0.9
pefile==2021.9.3
pip==22.0.4
pycparser==2.21
pytz==2021.3
pywin32-ctypes==0.2.0
requests==2.27.1
schedule==1.1.0
setuptools==41.2.0
six==1.16.0
SQLAlchemy==1.4.31
SQLAlchemy-serializer==1.4.1
urllib3==1.26.8
Werkzeug==2.0.0
WTForms==3.0.1