body {
  margin-left: auto;
  margin-right: auto;
  background-color: #141312;
}

.container {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 55px;
}

.Block1 {
  margin-top: 108px;
}

.page {
  background-color: #141312;
  min-height: 100vh;
}

.cloud {
  display: flex;
  background-color: #1f1d1c;
}

.dirs-placeholder {
  position: relative;
  margin-left: 56px;
  min-width: calc(100% - 28px);
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5px;
  padding-top: 3px;
}
