.HEAD {
    background-color: #1a1614;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 4px solid #080807;
  }

.head {
  display: flex;
  justify-content: space-between;
}

.logo-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
  }

.logo {
    background-image: url(../img/Br_logo.png);
    background-size: cover;
    width: 84.99px;
    height: 84.99px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.logo-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 41px;
    text-align: left;
    vertical-align: middle;
    color: #ff6c03;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
  }

.user-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    height: 90px;
  }

.user-photo {
    background-image: url(../img/No_user.jpg);
    background-size: cover;
    width: 44.99px;
    height: 44.99px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #f5870a;
    border-width: 4px;
    border-style: ridge;
  }

.user-list {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 45px;
    vertical-align: middle;
    align-self: center;
  }

div ul {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
    }

.menu-list {
    display: none;
    position: absolute;
}

.menu {
  display: block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #ff6c03;
}

.menu:hover > ul {
    display: inherit;
}

.menu-el {
    display: block;
    min-width: 170px;
    float: none;
    display: list-item;
    position: relative;
    text-align: center;
    border-color: #ff6c03;
    border-width: 2px;
    border-style: solid;
    border-bottom: none;
    margin-left: -40px;
}

.last-el {
  border-style: solid;
  border-width: 2px;
  border-color: #ff6c03;
}

.menu-el a {
  display: block;
  color: #ff6c03;
  background: #000000;
  text-decoration: none;
  font-size: 26px;
}

.menu-el a:hover {
  background: #363330;
}

@media screen and (max-width: 680px) {
  .HEAD {
    height: 20vh;
  }

  .logo {
    width: 15vh;
    height: 15vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .user-block {
    height: 20vh;
  }

  .user-list {
    padding-left: 12vw;
  }

  .menu {
    font-size: 5vh;
    line-height: 5vh;
  }

  .menu-el {
    min-width: 24vh;
    border-width: 0.5vh;
    margin-left: -5.5vh;
  }

  .last-el {
    border-width: 0.5vh;
  }

  .menu-el a {
    font-size: 4vh;
    line-height: 4vh;
  }

  .Block1 {
    margin-top: 20vh;
  }

  .logo-text {
    display: none;
  }

  .user-photo {
    display: none;
  }
}

body::-webkit-scrollbar, .left-menu::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
  height: 12px;
}

body::-webkit-scrollbar-corner, .left-menu::-webkit-scrollbar-corner {
  background-color: #2b2b2b;
}

body::-webkit-scrollbar-track, .left-menu::-webkit-scrollbar-track {
  background: #2b2b2b;        /* цвет дорожки */
}

body::-webkit-scrollbar-thumb, .left-menu::-webkit-scrollbar-thumb {
  background-color: #f78502;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 3px solid black;  /* padding вокруг плашки */
}

.custom-checkbox {
  position: absolute;
  z-index: 1;
  opacity: 0;
  display: flex;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 3px solid #f79320;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #edd145;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
  background-color: #edd145;
  border-color: #edd145;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem #f79b11ac;
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #edd145;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked+label::before {
  border-color: #f7c202;
  background-color: #f78502;
  background-image: url(../img/check.png);
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}
