.HEAD {
    background-color: #1a1614;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 4px solid #080807;
  }

.logo-block {
    display: flex;
    justify-content: flex-start;
    float: left;
  }

.logo {
    background-image: url(../img/Br_logo.png);
    background-size: cover;
    width: 84.99px;
    height: 84.99px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
  }

.logo-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 41px;
    text-align: left;
    vertical-align: middle;
    color: #ff6c03;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    float: left;
  }

@media screen and (max-width: 550px) {
    .logo-block {
      display: none;
    }

    .user-photo {
      float: left;
      align-self: left;
    }
  }

.user-block {
    display: flex;
    justify-content: flex-end;
    float: right;
  }

.user-photo {
    background-image: url(../img/No_user.jpg);
    background-size: cover;
    width: 74.99px;
    height: 74.99px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #f5870a;
    border-width: 4px;
    border-style: ridge;
  }

.user-list {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 45px;
    vertical-align: middle;
  }

div ul {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
    }

.menu-list {
    display: none;
    position: absolute;
}

.menu {
  display: block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #ff6c03;
}

.menu:hover > ul {
    display: inherit;
}

.menu-el {
    display: block;
    min-width: 170px;
    float: none;
    display: list-item;
    position: relative;
    text-align: center;
    border-color: #ff6c03;
    border-width: 2px;
    border-style: solid;
    border-bottom: none;
    margin-left: -40px;
}

.menu-el a {
  display: block;
  color: #ff6c03;
  background: #000000;
  text-decoration: none;
  font-size: 26px;
}

.menu-el a:hover {
  background: #363330;
}