{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/Account/Account.css" />
    <link rel="stylesheet" href="../static/css/Account/File_card.css" />
    {% if menu == 'big' %}
    <link rel="stylesheet" href="../static/css/Account/Big_left_menu.css" />
    <link rel="stylesheet" href="../static/css/Form.css" />
    {% else %}
    <link rel="stylesheet" href="../static/css/Account/Small_left_menu.css" />
    {% endif %}
    <section class="page">
      <div class="cloud br-container">
        {% if menu == 'big' %}
        <div class="left-menu Block1">
          <div class="menu-container">
            <div class="up-menu">
              <div class="user-block-on-menu">
              {% set photo_name = '../' + current_user.photo %}
                <div class="main-user-photo" style="background-image: url({{photo_name}})"></div>
                <div class="username-text">{{ current_user.name }}</div>
              </div>
              <div class="small-block">
                <form method="POST">
                  <input name="change-menu" class="none" />
                  <input type="submit" value="<" class="user-button" />
                </form>
              </div>
            </div>
            <div class="search-block">
              <form method="POST">
                <div class="search-row">
                  <input
                    type="search"
                    placeholder="Поиск..."
                    class="search-string"
                    size="1"
                    name="search_string"
                  />
                  <input type="submit" value="🔍" class="user-button" />
                </div>
              </form>
              <form method="POST">
                <div class="sort-placeholder">
                  <label class="sort-caption">Сортировка:</label>
                  <select class="sort-selector" name="sort_selector">
                    <option class="sort-option">По времени создания</option>
                    <option class="sort-option">По названию</option>
                  </select>
                  <div class="checkbox-placeholder">
                    <input type="checkbox" class="custom-checkbox" name="reverse" />
                    <label class="check-text">В обратном порядке</label>
                  </div>
                  <input
                    type="submit"
                    value="Применить"
                    class="user-button sort-button"
                  />
                </div>
              </form>
            </div>
          </div>
          <div class="menu-container">
            <div class="add-block">
              <a class="add-button" href="/add_dir">+</a>
              <label class="add-text">Добавить папку</label>
            </div>
            <form method="POST">
              <div class="add-block">
                <div class="input__placeholder">
                  <input
                    name="file"
                    type="file"
                    name="file"
                    id="input__file"
                    class="input input__file"
                    multiple
                  />
                  <label for="input__file" class="input__file-button add-block">
                    <span class="add-button">+</span>
                    <span class="add-text input__file-button-text"
                      >Добавить файлы</span
                    >
                    <input type="submit" class="submit-file-button" value="✓" />
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>
        {% else %}
        <div class="left-menu Block1">
          <div class="small-menu-block">
            <form method="POST">
              <input name="change-menu" class="none" />
              <input
                type="submit"
                value=">"
                class="user-button small-menu-button"
              />
            </form>
          </div>
          <div class="small-menu-block">
            <form method="POST">
              <input name="paste-files" class="none" />
              <input
                type="submit"
                value="⎀"
                class="user-button small-menu-button"
              />
            </form>
          </div>
        </div>
        {% endif %}
        <div class="main-placeholder Block1">
        <div class="nav-placeholder">
          <div class="nav-block">
            <form method="POST">
              <input name="prev" class="none" />
              <input
                type="submit"
                value="<"
                class="nav-button"
              />
            </form>
          </div>
          <div class="nav-block"><p class="dir-text">{{ current_dir.split('/')[-1] }}</p></div>
          <div class="nav-block">
            <form method="POST">
              <input name="next" class="none" />
              <input
                type="submit"
                value=">"
                class="nav-button"
              />
            </form>
          </div>
        </div>
        <div class="dirs-placeholder">
          {% set back = [] %}
          {% if current_dir.split('/')[-1] %}
          {% set back = back + ['..', ] %}
          {% endif %}
          {% for name in back + sort_function(os.listdir(current_dir), current_dir) %}
          {% set way = '/'.join(['..', current_dir, name]) %}
          <div class="file-card">
            <div class="file-card-main">
              {% if name.split('.')[-1] in ['mp3', 'wav', 'ogg'] %}
              <div class="file-card-prevision">
                <audio src="{{way}}" controls></audio>
              </div>
              {% elif name.split('.')[-1] in ['jpg', 'jpeg', 'png', 'svg',
              'webp', 'gif', 'ico'] %}
              <div
                class="file-card-prevision"
                style="background-image: url({{way}});"
              ></div>
              {% else %}
              {% set types = {'exist': False} %}
              {% for type_ in os.listdir('static/img/file_types') %}
              {% if (name == '..' or os.path.isdir(way[1:])) and not types['exist'] %}
              <div class="file-card-prevision">
                <div
                  class="file-card-icon"
                  style="background-image: url(../static/img/file_types/directory.png);"
                ></div>
              </div>
              {% set _ = types.update({'exist': True}) %}
              {% elif name.split('.')[-1] in type_.split('.')[0].split('_') and not types['exist'] %} 
              {% set image_way = '../static/img/file_types/' + type_ %}
              <div class="file-card-prevision">
                <div
                  class="file-card-icon"
                  style="background-image: url({{image_way}});"
                ></div>
              </div>
              {% set _ = types.update({'exist': True}) %}
              {% endif %}
              {% endfor %}
              {% if not types['exist'] %}
              <div class="file-card-prevision">
                <div
                  class="file-card-icon"
                  style="
                    background-image: url(../static/img/file_types/file.png);
                  "
                ></div>
              </div>
              {% endif %}
              {% endif %}
              <div class="file-card-title">{{ name }}</div>
            </div>
            {% if name == '..' %}
            <div class="file-card-functions" style="justify-content: flex-end;">
            {% set class_ = 'none' %}
            {% else %}
            <div class="file-card-functions">
            {% endif %}
              <div class="file-card-user-list {{class_}}">
                <ul class="file-card-user-list-el">
                  <li class="file-card-menu">
                    ▼
                    <ul class="file-card-menu-list">
                      {% if os.path.isfile(way[1:]) %}
                      <div class="file-card-menu-el-place">
                        <a
                          class="file-card-menu-el"
                          href="/make_publication/{{ way.split('/')[3:]|join('&') }}"
                          >Опубликовать</a
                        >
                      </div>
                      {% endif %}
                      <div class="file-card-menu-el-place">
                        <a
                          class="file-card-menu-el"
                          href="/rename_file/{{ way.split('/')[3:]|join('&') }}"
                          >Переименовать</a
                        >
                      </div>
                      <div class="file-card-menu-el-place">
                        <form method="POST">
                          <input name="cut-file-{{ way }}" class="none" />
                          <input
                            type="submit"
                            value="Вырезать"
                            class="file-card-menu-el"
                          />
                        </form>
                      </div>
                      <div
                        class="file-card-menu-el-place file-card-menu-last-el-place"
                      >
                        <form method="POST">
                          <input name="del-file-{{ way }}" class="none" />
                          <input
                            type="submit"
                            value="Удалить"
                            class="file-card-menu-el"
                          />
                        </form>
                      </div>
                    </ul>
                  </li>
                </ul>
              </div>
              <div>
                {% if os.path.isfile(way[3:]) %}
                <a class="download-button" href="/{{ way }}" download="">↓</a>
                {% elif name == '..' %}
                <a class="opendir-button" href="/{{'cloud/' + way.split('/')[3:-2]|join('&') }}">📂</a>
                {% else %}
                <a class="opendir-button" href="/{{'cloud/' + way.split('/')[3:]|join('&') }}">📂</a>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </section>
    <script>
      let inputs = document.querySelectorAll(".input__file");
      Array.prototype.forEach.call(inputs, function (input) {
        let label = input.nextElementSibling,
          labelVal = label.querySelector(".input__file-button-text").innerText;

        input.addEventListener("change", function (e) {
          let countFiles = "";
          if (this.files && this.files.length >= 1)
            countFiles = this.files.length;

          if (countFiles)
            label.querySelector(".input__file-button-text").innerText =
              "Выбрано файлов: " + countFiles;
          else
            label.querySelector(".input__file-button-text").innerText =
              labelVal;
        });
      });
    </script>
{% endblock %}
