<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/Account.css" />
    <link rel="stylesheet" href="../static/css/Head_style.css" />
    <title>Бромница</title>
  </head>
  <body>
    <div class="HEAD">
      <div class="container head">
        <div class="logo-block">
          <div class="logo"></div>
          <div class="logo-text">Бромница</div>
        </div>
        <div class="user-block">
          <div class="user-photo"></div>
          <div class="user-list">
            <ul>
              <li class="menu">
                Меню
                <ul class="menu-list">
                  <li class="menu-el"><a href="/">Главная</a></li>
                  <li class="menu-el">
                    <a href="/publications">Публикации</a>
                  </li>
                  <li class="menu-el"><a href="/settings">Настройки</a></li>
                  <li class="menu-el last-el">
                    <a href="/logout">Выход</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <section class="page">
      <div class="cloud container">
        <div class="left-menu Block1">
          <div class="menu-container">
            <div class="up-menu">
              <div class="user-block-on-menu">
                <div class="main-user-photo"></div>
                <div class="username-text">Пользователь</div>
              </div>
              <div class="paste-block">
                <form method="POST">
                  <input name="paste" class="none" />
                  <input type="submit" value="⎀" class="user-button" />
                </form>
              </div>
            </div>
            <div class="search-block">
              <form method="POST">
                <div class="search-row">
                  <input
                    type="search"
                    placeholder="Поиск..."
                    class="search-string"
                    size="1"
                  />
                  <input type="submit" value="🔍" class="user-button" />
                </div>
              </form>
              <form method="POST">
                <div class="sort-placeholder">
                  <label class="sort-caption">Сортировка:</label>
                  <select class="sort-selector">
                    <option class="sort-option">По времени создания</option>
                    <option class="sort-option">По названию</option>
                  </select>
                  <div class="checkbox-placeholder">
                    <input type="checkbox" class="custom-checkbox" />
                    <label class="check-text">В обратном порядке</label>
                  </div>
                  <input
                    type="submit"
                    value="Применить"
                    class="user-button sort-button"
                  />
                </div>
              </form>
            </div>
          </div>
          <div class="menu-container">
            <div class="add-block">
              <a class="add-button" href="/add_dir">+</a>
              <label class="add-text">Добавить папку</label>
            </div>
            <form method="POST">
              <div class="add-block">
                <input id="add-user-file" type="file" class="add-button" value="+"/>
                <label for="ad-user-file">Выберите файл</label>
                <input type="submit" class="add-button" value="✓" />
              </div>
            </form>
          </div>
        </div>
        <div class="dirs-placeholder Block1">
          <p>Hello</p>
        </div>
      </div>
    </section>
  </body>
</html>
