{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/TitlePage.css" />
<section class="block Block1">
  <div class="br-container">
    <div class="problem-text">
      <p>
        На компьютере закончилось место под бесконечный поток файлов? Или просто
        нужен удобный инструмент для их хранения?<br />"Бромница" поможет!
      </p>
    </div>
  </div>
</section>
<div class="block Block2">
  <div class="br-container">
    <div class="head-text">А что это?</div>
  </div>
  <div class="br-container">
    <div class="main-text">
      <p>
        "WEB-Бромница" — абсолютно бесплатное облачное хранилище, позволяющее
        создавать папки и добавлять в них файлы.
      </p>
      <p>
        Она быстро и легко освободит ваше устройство от лишней нагрузки, ведь их
        так же просто скачивать, как и загружать.
      </p>
      <p>
        Кроме того, пользователи могут выкладывать свои файлы на всеобщее
        скачивание в нашей
        <a class="href" href="/publications">новостной странице</a>, где каждый
        может найти для себя что-то интересное.
      </p>
    </div>
  </div>
</div>
<div class="block Block3">
  <div class="br-container">
    <div class="button">
      <a class="super-button" href="/register">Создать аккаунт</a>
    </div>
  </div>
</div>
{% endblock %}
