{% extends "Base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/TitlePage.css" />
<section class="block Block1">
  <div class="br-container">
    <div class="problem-text">
      <p>
        На компьютере закончилось место под бесконечный поток файлов? Или просто
        нужен удобный инструмент для их хранения?<br />Мы поможем!
      </p>
    </div>
  </div>
</section>
<div class="block Block2">
  <div class="br-container">
    <div class="head-text">Но как?</div>
  </div>
  <div class="br-container">
    <div class="main-text">
      <p>
        "WEB-Бромница" — абсолютно бесплатное облачное хранилище,
        обладающее функциями всем знакомого проводника.
      </p>
      <p>
        Она быстро освободит ваше устройство от лишней нагрузки, ведь файлы так же
        просто скачивать, как и загружать.
      </p>
      <p>
        Кроме того, пользователи могут выкладывать их на всеобщее
        скачивание в нашей
        <a class="href" href="/publications">новостной странице</a>, где каждый
        может найти для себя что-то интересное.
      </p>
    </div>
  </div>
</div>
<div class="block Block3">
  <div class="br-container">
    <div class="button">
      <a class="super-button" href="/register">Создать аккаунт</a>
    </div>
  </div>
</div>
<div class="Block4">
  <div class="br-container">
    <div>
      <p class="bottom-text">
        Если Вы обнаружили ошибку на сайте,
        или у Вас есть идеи по его улучшению,
        обращайтесь по адресу <b>bromnitsa@mail.ru</b>
      </p>
      <p class="bottom-link-text">
        <a class="href href-alone" href="https://github.com/RostislavShishmarev/WEB_Bromnitsa/blob/main/README.md#суть" target="_blanc">Помощь</a>
        <a class="href href-alone" href="https://github.com/RostislavShishmarev/WEB_Bromnitsa" target="_blanc">WEB-Бромница на GitHub</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
